<div class="medication-list-container flex flex-col justify-center items-center pt-[20px]">

  <div class="row w-full max-w-[min(90%,1024px)] flex justify-between items-center">

    <div class="3rd-column"></div>

    <nz-input-group class="max-w-[min(90%,500px)] mt-[20px] mb-[20px] !rounded-[20px]"
                    [nzSuffix]="suffixIconSearch">
      <input class="w-full"
             [value]="searchTerm()"
             (input)="searchTerm.set($any($event.target).value)"
             type="text"
             nz-input
             placeholder="Search added medications" />
    </nz-input-group>
    
    <button class="rounded-lg"
            nz-button
            nzShape="round"
            nzType="primary"
            (click)="isVisibleAddModal = true">
      <span>Add medication</span>
      <nz-icon nzType="plus" />
    </button>
    
  </div>

  <nz-table class="medication-table w-full max-w-[min(90%,1024px)] overflow-hidden rounded-[20px] max-h-[calc(100vh-350px)] overflow-y-auto"
            #medicationTable
            [nzShowPagination]="false"
            [nzData]="filteredMedications()">
    <thead>
    <tr>
      <th>Medication</th>
      <th>Dosage</th>
      <th>Frequency</th>
      <th>Last Updated</th>
    </tr>
    </thead>
    <tbody>
      @for (data of filteredMedications(); track data) {
        <tr>
          <td nz-typography resultHighlighter  [value]="data.name" [query]="searchTerm()"></td>
          <td>{{ data.dosage }}</td>
          <td>
            <span class="days">
              @for(day of data.days; track day){
                {{(day | shortenDay) + (!$last ? ' ,' : '')}}
              }
            </span>
            at
            <span class="times">
              @for(time of data.times; track time){
                {{ time + (!$last ? ' ,' : '')}}
              }
            </span>
          </td>
          <td>{{ data.lastUpdate | date:'dd/MM/yyyy hh:mm:ss' }}</td>
        </tr>
      }
    </tbody>
  </nz-table>
</div>


<ng-template #suffixIconSearch>
  <nz-icon nzType="search" />
</ng-template>

@if(isVisibleAddModal){
  <app-add-medication-modal class="add-modecation-modal"
                            (closeModal)="isVisibleAddModal = false">
  </app-add-medication-modal>
}
